.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 24px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  
  
}

    a.navbar-brand {  
            
            src:"https://raw.githubusercontent.com/MarineEvoEcoLab/Lab_Website/main/assets/media/logo.png"; 
             
            image-rendering: optimizeQuality;
            
    
      }
      
.hero-lead{
  font-size: 24px;
  line-height: 1;
  text-align: "center";
  max-width: 2300px;
  margin-right: 0.0rem;
  

}

.hero-media {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 100%;
  text-align: center;
}

.hero-title{
  margin-right: 0rem;
}


