.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  
  
  
}


.navbar {
  height: 110px;
  
  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0 0rem;
}


.navbar-brand {
  // Set v-padding to 5px to align with 50/70px responsive max navbar heights.
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand {
  img {
    width: auto;
    height: -moz-available;
    height: -webkit-fill-available;
    height: -webkit-stretch;
    height: stretch;
    max-height: 100px; // For lg+ responsive sizing. 60px height +10px v-padding = 70px
    max-width: fit-content; // Must override default responsive image style.
  }
}
      
.hero-lead{
  font-size: 1.2rem;
  line-height: 1.25;
  text-align: "center";
  max-width: 75rem;
  margin-right: 0.0rem;
  

}

.hero-media {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 100%;
  text-align: center;
}

.hero-title{
  font-size: 2.25rem;
  
  margin-top: 5rem;
}


.wg-hero {
  padding-top: 10em;
  padding-bottom: 5em;
}