.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  
  
  
}

.navbar {
  height: 1.5sw;
  
  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0.1sw 0.1sw;
}


.navbar-brand {
  // Set v-padding to 5px to align with 50/70px responsive max navbar heights.
  padding-top: 0.1sw;
  padding-bottom: 0.1sw;
}
.navbar-brand {
  img {
    width: auto;
    height: -moz-available;
    height: -webkit-fill-available;
    height: -webkit-stretch;
    height: stretch;
    max-height: 100px; // For lg+ responsive sizing. 60px height +10px v-padding = 70px
    max-width: fit-content; // Must override default responsive image style.
  }
}
      
.hero-lead{
  font-size: 1rem;
  line-height: 1.25;
  text-align: "left";
  max-width: 200rem;
  margin-top: 2.0rem;
  margin-bottom: 1em;
 
}

.hero-media {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2em;
  
  
}





.overlay-text{
  color: #b8b6b6 !important;
  font-size: 3vw !important;
  margin: 5% 0vw 0vh -1% !important;
  
  @media (max-width: 600px){
    font-size: 12vw !important;
    margin: 0 !important;
    }
    
  .think-bigger{
    @media (max-width: 600px){
      padding: 0rem 0rem 0 0rem!important;
      }
    }
  
 
}